// Main Sass file.
$mdc-theme-primary: #f56a6a;
$mdc-theme-secondary: #7f888f;
$mdc-theme-background: #fff;

$colour-border:#a9abad;
$primary-font-colour: #626262;

$standard-width: 200px;



@import "material-components-web/material-components-web";
@import "@material/switch/mdc-switch";

.form-sub-group
{
  border: 2px solid;
  border-radius: 5px;
  border-color: $colour-border;
  padding: 5px;
  display: inline-block;
}

input[type="text"],
input[type="checkbox"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #ffffff;
  border-radius: 0.375em;
  border: none;
  border: solid 1px rgba(210, 215, 217, 0.75);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;

              -ms-box-sizing:border-box;
              -moz-box-sizing:border-box;
              -webkit-box-sizing:border-box; 
              box-sizing:border-box;
}

.mapForm
{
  margin-left: 3em;
}

.mdc-text-field
{
  width: $standard-width;
}

.mdc-select
{
  width: $standard-width;
}


body
{
  color: $primary-font-colour;
}

.legend
{
  color: $primary-font-colour;
  font-size: 14pt;
}


