*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/gradle
.externalNativeBuild
/Keys
keys.xml
/libs
CA.crt
CA.pem
GCSSignURL.java
streettreat/src/main/res/raw/
streettreat/release
streettreat/build
streettreat/debug
streettreat/libs
node_modules
/Database
/node_modules